// Dark mode content
.dark_mode_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1.25%;
    right: 1%;
    width: 2rem;
    height: 2rem;
    padding: .4rem;
    border-radius: 2rem;
    background-color: var(--dark-mode-container-bg-color);
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: var(--dark-mode-container-bg-hover-color);

        i {
            color: var(--dark-mode-icon-hover-color);
        }
    }

    i {
        color: var(--dark-mode-icon-color);
        font-size: 1.25rem;
    }
}

@import './media';